.form{
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto;
    gap:10px;

}

.form label{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    grid-area: label;

}

.form input, .form textarea{
    padding:8px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:1px solid #cdf0ff;
    border-radius: 4px;
}

.form button{
    padding:10px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
