.nav-container{
    background-color: rgba(85, 183, 100, 0.979);
    padding:2px 5px;
    display:flex;
    color:rgb(235, 235, 245);
    justify-content: space-between;
    align-items: end;
    box-shadow: 0 4px 8px rgba  (0,0,0,0.9);
}

.nav-container ul{
    background-color: rgba(85, 183, 100, 0.753);
    list-style-type: none;
    display: flex;
    gap: 15px;
    color: aliceblue;
}

.nav-container ul li link{
    list-style-type: none;
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}